################################################################################
# Ce fichier .gitignore a été automatiquement créé par Microsoft(R) Visual Studio.
################################################################################

/LesDouzeSalopards/bin/Debug
/LesDouzeSalopards/obj/Debug
/LesDouzeSalopards.Business/bin/Debug
/LesDouzeSalopards.Business/obj/Debug
/LesDouzeSalopards.Entities/bin/Debug
/LesDouzeSalopards.Entities/obj/Debug
/LesDouzeSalopards.Tests/bin/Debug
/LesDouzeSalopards.Tests/obj/Debug
/packages
